$primaryColor:#AD6BFF;
$secondaryColor:#74BCF7;
$buttonPrimaryColor:#DEFFC9;
$buttonSecondaryColor:#A3F8FF;
$primaryFontColor:#AC6CFF;
$font:'Montserrat',
sans-serif;
$title:48px;

$mediaquery-mobile: 502px;
$mediaquery-tab: 768px;
$mediaquery-desktop-sm: 992px;
$mediaquery-desktop-lg: 1600px;