@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.device-details {
    width: 100%;
    margin: 80px;

    @include media-mobile {
        margin: 30px;
    }

    @include media-tab {
        margin: 50px;
    }

    .sub-content {
        width: 100%;
        min-height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nospace {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }

    .title {
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .add-device {
        width: 50px;
        height: 50px;
        background-image: linear-gradient($buttonPrimaryColor, $buttonSecondaryColor);

        @include media-mobile {
            background-image: none;
            background-color: transparent;
        }

        border: none;
        cursor: pointer;
    }

    .device-selected {
        font-size: 32px;
        font-weight: bold;
    }

    .sub-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 50px 0px 26px 0px;

    }

    .sub-title {
        color: $primaryFontColor;
        font-size: 15px;
        min-width: 50px;
        font-weight: bold;
        padding-right: 20px;
    }

    .horizontal-line {
        width: 100%;
        color: $primaryFontColor;
        border-top-style: none;
        border-bottom-style: dashed;
        height: 0.1px;

    }

    .checkbox-container {
        width: 20%;
        min-width: 80px;
        height: 60px;
        display: inline-block;
    }

    .checkbox {
        width: 32px;
        height: 32px;
    }

    .checkbox-checked {
        width: 36px;
        height: 36x;
        content: url("../../../assets/icons/tick-wh.png");
    }

    .mode {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 46px;
        padding: 0px 16px;
        color: #000;
        cursor: pointer;
        font-size: 18px;
    }

    .mode-selected {
        @extend .mode;
        height: 56px;
        background-image: linear-gradient(to right, $primaryColor, $secondaryColor);
        color: #fff;
    }

    .mode-left-content {
        display: flex;
        align-items: center;
        width: 30%;
    }

    .mode-icon {
        max-width: 80px;
    }

    .mode-name {
        text-align: left;
        padding-left: 20px;
    }
}

/*styles for switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    right: 2px;
    top: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #000;
}

input:focus+.slider {
    box-shadow: 0 12px 12px 0 rgba($color: #000000, $alpha: 0.15);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* intensity */
.intensity-slider {
    -webkit-appearance: none;
    width: 50%;
    height: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to right, $primaryColor, $secondaryColor);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.intensity-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: linear-gradient($primaryColor, $secondaryColor);
    cursor: pointer;
}

.intensity-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: linear-gradient($primaryColor, $secondaryColor);
    cursor: pointer;
}